<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Exito | {% block title %}Inicio{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/sidenav.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="top-search-bar animated slideInDown" id="top-search-bar">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div class="input-group py-2 w-50">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="divLupaInputBuscadorGlobal"><i class="zmdi zmdi-search" id="lupaInputBuscadorGlobal"></i></div>
                    </div>
                    <input type="text" class="form-control top-search-input" placeholder="Buscar..." id="inputBuscadorGlobal">
                </div>
            </div>
        </div>
    </div>
    <header class="container-fluid header d-flex justify-content-between">
        <div class="left-top-bar">
            <div class="d-flex align-items-center pl-3 height60">
                <div class="menuPrincipalBtn icono">
                    <i class="zmdi zmdi-menu" id="sidebarCollapse"></i>
                </div>
                <div class="logo">
                    <img src="{{ asset('assets/img/ExitoLOGO.svg') }}" alt="Exito Logo">
                </div>
                <div class="w-100 align-items-center justify-content-end pr-3 height60 menuMobil">
                    <div class="d-inline-block icono mr-3">
                        <i class="zmdi zmdi-search" onclick="showSearchBar();"></i>
                    </div>
                    <div class="d-inline-block icono mr-2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-top-bar height60">
            <div class="d-flex align-items-center justify-content-end height60">
                <div class="d-inline-block icono">
                    <i class="zmdi zmdi-search" onclick="showSearchBar();"></i>
                </div>
                <div class="d-inline-block icono">
                    <i class="zmdi zmdi-apps"></i>
                </div>
                <div class="d-inline-block icono">
                    <i class="zmdi zmdi-globe"></i>
                </div>
                <div class="d-inline-block icono">
                    <i class="far fa-comments"></i>
                </div>
            </div>
        </div>
    </header>


    <div class="wrapper">
        <nav id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <div class="contenidoUsuario px-3 d-flex align-items-center">
                    <div class="imagenPerfilUsuario">
                        <img src="{{ asset('assets/img/usuario.jpg') }}" alt="Imagen de Perfil">
                    </div>
                    <div class="datosPerfilUsuario">
                        <a href="#">Jessica Rodríguez</a>
                        <a href="#">JessicaR@Gmail.com</a>
                    </div>
                </div>
                <div class="controlSesionUsuario pt-3">
                    <ul>
                        <li>
                            <a href="#"><i class="zmdi zmdi-power"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-account"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-key"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-settings"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li class="active"><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><!-- Link with dropdown items -->
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </div>

        {% block body %}



        {% endblock %}

        <script src="{{ asset('assets/js/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/base.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
